<div class="form_row">
  <%= f.label :matriculation_number, "Matrikelnummer" %>
  <%= f.text_field :matriculation_number %>
</div>

<div class="form_row">
  <%= f.label :first_name, "Vorname" %>
  <%= f.text_field :first_name %>
</div>

<div class="form_row">
  <%= f.label :last_name, "Nachname" %>
  <%= f.text_field :last_name %>
</div>

<div class="form_row">
  <%= f.label :birthday, "Geburtsdatum" %>
  <%#= f.date_select :birthday, :start_year => 1900 %>
</div>

<div class="form_row">
  <%= f.label :place_of_birth, "Geburtsort" %>
  <%= f.text_field :place_of_birth %>
</div>

<div class="form_row">
  <%= f.label :study_course, "Studiengang" %>
  <%= f.text_field :study_course %>
</div>

<div class="form_row">
  <%= f.label :nationality, "Nationalität" %>
  <%= f.text_field :nationality %>
</div>

<% if action_name != 'new' %>
  <div class="form_row">
    <%= f.label :current_term, "Aktuelles Semester" %>
    <%= f.text_field :current_term %>
  </div>
<% end %>

<div class="form_row">
  <%= f.label :street, "Straße" %>
  <%= f.text_field :street %>
</div>

<div class="form_row">
  <%= f.label :house_number, "Nummer" %>
  <%= f.text_field :house_number %>
</div>

<div class="form_row">
  <%= f.label :zip_code, "PLZ" %>
  <%= f.text_field :zip_code %>
</div>

<div class="form_row">
  <%= f.label :city, "Ort" %>
  <%= f.text_field :city %>
</div>