<tr class="<%= cycle "even", "odd" %>">
  <td><%= student.matriculation_number %></td>
  <td><%= student.last_name %></td>
  <td><%= student.first_name %></td>
  <td><%= student.current_term %></td>
  <td>
    <%= link_to "Anzeigen", student %> |
    <%= link_to "Bearbeiten", :controller => :students, :action => :edit, :id => student.id %> |
    <%= link_to "Löschen", "/students/destroy/#{student.id}", :confirm => "Soll der Student ##{student.matriculation_number} wirklich gelöscht werden?" %> |
    <%= link_to "Noten anzeigen", :controller => :students, :action => :marks, :id => student.id %> |
    <%= link_to "Kurse anzeigen", :controller => :students, :action => :courses, :id => student.id %>
    <br/><br/>
    <%= link_to "Noten generieren", :controller => :students, :action => :generate_marks, :id => student.id %>
  </td>
</tr>