<% content_for :head do %>
  <style type="text/css">
    .label_like { width: 50% !important }
  </style>
<% end %>

<%= render :partial => "header" %>

<h2><%= @student.last_name %>, <%= @student.first_name %></h2>

<div style="padding-left: 20px;">
  <% @student.exams.each do |e| %>
    <div class="key_value_row">
      <span class="label_like">&raquo; <%= e.course.title %>:</span>
      <span class="value_like"><%= e.result || "Bislang kein Resultat!" %></span>
    </div>
  <% end %>
</div>