<tr>
  <td><div class="narrow"><%= course.number %></div></td>
  <td><div><%= course.title %></div></td>
  <td><div><%= course.description %></div></td>
  <td><div><%= course.lecturer %></div></td>
  <td><div class="narrow"><%= course.term %></div></td>
  <td>
    <div class="narrow">
      <nobr><%= label_tag "course_deletion_#{course.id}", "Löschen" %> <%= check_box_tag "ids[]", course.id, false, :id => "course_deletion_#{course.id}" %></nobr>
    </div>
  </td>
</tr>