<tr>
  <td><%= course.number %></td>
  <td><%= course.title.truncate 30 %></td>
  <td><%= course.description.truncate 40 %></td>
  <td><%= course.lecturer.truncate 30 %></td>
  <td><%= course.term %></td>
</tr>