<% content_for :head do %>
  <style type="text/css">
    td div {
      width: 150px;
      overflow-x: hidden
    }

    td div.narrow {
      width: 62px;
    }
  </style>
<% end %>

<%= render :partial => 'header' %>

<center><%= will_paginate @courses %></center><br/>

<% form_tag :action => :destroy do %>
  <table width="100%" cellpadding="0" cellspacing="2" border="1">
    <tr>
      <th width="62">Kurs - Nummer</th>
      <th>Titel</th>
      <th>Beschreibung</th>
      <th>Dozent</th>
      <th>Semester</th>
      <th>Optionen</th>
    </tr>
    <%= render :partial => :course, :collection => @courses %>
  </table>

  <br/><%= submit_tag "Markierte Kurse löschen", :style => "float: right" %>
  <div style="clear:both"></div>

<% end %>


<br/><center><%= will_paginate @courses %></center>